<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div>
            <label for="username">{{ 'SIGNUP.EMAIL' | translate }}</label>
            <input type="email" id="username" required [(ngModel)]="model.username" name="username">
        </div>
        <div>
            <label for="password">{{ 'SIGNUP.PASSWORD' | translate }}</label>
            <input type="password" id="password" required [(ngModel)]="model.password" name="password">
        </div>
        <div>
            <label for="phone">{{ 'SIGNUP.PHONE' | translate }}</label>
            <input type="tel" id="phone" required [(ngModel)]="model.phone" name="phone">
        </div>
        <div>
            <label for="country">{{ 'SIGNUP.COUNTRY' | translate }}</label>
            <select id="country" class="custom-select" required [(ngModel)]="model.country" name="country">
                <option *ngFor="let c of countries" [value]="c.code">{{ 'SIGNUP.COUNTRIES.' + c.code | translate }}
                </option>
            </select>
        </div>
        <button type="submit">{{ 'SIGNUP.BUTTON_SUBMIT' | translate }}</button>
    </form>
</div>